body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: #671616;
    color: #FFFFFF;
}

button:hover {
    background-color: #3e1010;
    color: #ffffff;
}

#gif {
    display: none;
    margin-top: 20px;
    max-width: 300px;
}

#gifComunista {
    display: none;
    margin-top: 20px;
    max-width: 300px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}